{% extends 'base.html.twig' %}

{% block title %}Edit User Page
{% endblock %}

{% block body %}
	<div class="container text-center p-3">
		<h1 class="mb-2">{{ 'updateUser' | trans }}</h1>

		{{form_start(form)}}
		{{ form_widget(form) }}
		<div>
			<a href="/datapage/{{app.request.locale}}">
				<button class="btn btn-outline-primary mt-3">{{ 'back' | trans }}</button>
			</a>
			<button type="submit" class="btn btn-primary mt-3">{{ 'update' | trans }}</button>
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}