{% extends 'base.html.twig' %}
{% import '@App/macro/author.macro.html.twig' as macros %}

{% block title %}Data Page
{% endblock %}

{% block body %}
	<div class="container">
        {{ macros.authorBlock(author) }}

		<div class="text-center mb-3">
			<a href="{{ path('change_locale', {'locale': 'cs', '_locale': app.request.locale }) }}">CS</a>
			<a href="{{ path('change_locale', {'locale': 'en', '_locale': app.request.locale }) }}">EN</a>
		</div>

		<div class="text-center mb-3">
			<a href="/datapage/{{app.request.locale}}/create">
				<button class="btn btn-primary">{{ 'createUser' | trans }}</button>
			</a>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">{{ 'firstname' | trans }}</th>
					<th scope="col">{{ 'lastname' | trans }}</th>
					<th scope="col">{{ 'password' | trans }}</th>
					<th scope="col">{{ 'detail' | trans }}</th>
					<th scope="col">{{ 'update' | trans }}</th>
					<th scope="col">{{ 'delete' | trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for user in userList %}
					<tr>
						<th scope="row">{{user.id}}</th>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>
						<td>{{user.password}}</td>
						<td>
							<a href="/datapage/{{app.request.locale}}/{{user.id}}">
								<button class="btn btn-outline-primary">{{ 'detail' | trans }}</button>
							</a>
						</td>
						<td>
							<a href="/datapage/{{app.request.locale}}/edit/{{user.id}}">
								<button class="btn btn-outline-primary">{{ 'update' | trans }}</button>
							</a>
						</td>
						<td>
							<a href="/datapage/{{app.request.locale}}/delete/{{user.id}}">
								<button class="btn btn-outline-danger">{{ 'delete' | trans }}</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="container">
		{% block footer %}
			<div id="language-switcher">
				{% if app.session.has('_locale') %}
					<p>Default locale:
						{{ app.session.get('_locale') }}</p>
				{% endif %}
			</div>
		{% endblock %}
	</div>


{% endblock %}
